## Question 1

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [4]:
df.write.parquet('zones')

In [5]:
spark.version

'3.3.2'

## Question 2

In [8]:
from pyspark.sql import types

In [9]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [10]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [11]:
# Repartitions the DataFrame
df = df.repartition(6)

In [12]:
df.write.parquet('fhv/2019/10/')

In [13]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B01437|2019-10-02 20:29:31|2019-10-02 20:52:31|         264|         173|   null|                B01437|
|              B00900|2019-10-01 01:32:17|2019-10-01 01:35:28|         264|         258|   null|                B00900|
|              B02285|2019-10-02 19:55:00|2019-10-02 21:07:00|         264|         264|   null|                B02285|
|              B03051|2019-10-01 08:20:51|2019-10-01 08:33:39|         264|         157|   null|                B03051|
|              B01626|2019-10-02 23:54:09|2019-10-02 23:58:49|         264|         130|   null|                B01626|
|              B00821|2019-10-01 10:34:53|2019-10-01 10:45:20|         264|          63|   null|                B00900|
|              B00256|2019-10-02 21:25:36|2019-10-02 21:58:51|         264|         264|   null|                B00256|
|              B01087|2019-10-03 08:41:12|2019-10-03 08:58:34|         263|          42|   null|                B01087|
|              B01061|2019-10-02 01:21:53|2019-10-02 01:30:05|         264|         213|   null|                B01061|
|              B01877|2019-10-03 00:43:51|2019-10-03 00:44:34|         264|         264|   null|                B01877|
|              B00647|2019-10-02 09:16:16|2019-10-02 09:25:55|         264|         250|   null|                B00647|
|              B02191|2019-10-02 07:30:00|2019-10-02 17:58:00|         264|         264|   null|                B02191|
|              B00911|2019-10-03 12:50:36|2019-10-03 13:08:47|         264|         220|   null|                B00911|
|              B00445|2019-10-03 11:14:48|2019-10-03 11:34:30|         135|          92|   null|                B00445|
|              B01367|2019-10-03 09:54:35|2019-10-03 10:32:24|          79|         132|   null|                B01367|
|              B00860|2019-10-02 09:39:55|2019-10-02 09:55:13|         264|          32|   null|                B00860|
|              B00477|2019-10-01 03:58:47|2019-10-01 04:05:26|         151|          13|   null|                B00477|
|              B02634|2019-10-02 16:22:05|2019-10-02 16:35:23|         264|         174|   null|                B02634|
|              B02634|2019-10-01 08:55:18|2019-10-01 09:06:49|         264|         119|   null|                B02634|
|              B00647|2019-10-01 12:29:00|2019-10-01 12:32:16|         264|         168|   null|                B00647|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

## Question 3

In [19]:
from pyspark.sql.functions import col
from pyspark.sql.functions import to_date

In [20]:
df = df.withColumn('pickup_date', to_date('pickup_datetime'))

In [21]:
oct_15_trips = df.filter(col("pickup_date") == "2019-10-15")

# Count the number of taxi trips on October 15th
trip_count_oct_15 = oct_15_trips.count()

In [22]:
trip_count_oct_15

62610

## Question 4

In [24]:
df \
    .withColumn('duration_hours', (df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long')) / 3600) \
    .agg({"duration_hours": "max"}) \
    .collect()

[Row(max(duration_hours)=631152.5)]

## Question 6

In [25]:
schema_zones = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [26]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(schema_zones) \
    .csv('taxi_zone_lookup.csv')

In [27]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [32]:
df \
    .join(df_zones, df["PULocationID"] == df_zones["LocationID"]) \
    .groupBy("Zone") \
    .count() \
    .orderBy(col("count")) \
    .first()["Zone"]

'Jamaica Bay'